@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --c-accent: rgb(87, 87, 148);
  --c-primary: rgb(32, 30, 40);
  --c-text: rgb(215, 212, 212);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(215, 212, 212);
}
body {
  background-color: rgb(32, 30, 40);
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 8px;
  font-family: "Roboto", sans-serif;
}
